In [1]:
# load all librires pandas, seaborn, matplotlib, numpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load data set worldpop
df = pd.read_csv('worldpop.csv')

In [3]:
# quick look into data
df.head()

,Rank,Country,Population (2024),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %
0,1,India,1450935791,0.0089,12866195,488,"2,973,190","-630,830",2.0,28,0.37
1,2,China,1419321278,-0.0023,-3263655,151,"9,388,211","-318,992",1.0,40,0.66
2,3,United States,345426571,0.0057,1949236,38,"9,147,420","1,286,132",1.6,38,0.82
3,4,Indonesia,283487931,0.0082,2297864,156,"1,811,570","-38,469",2.1,30,0.59
4,5,Pakistan,251269164,0.0152,3764669,326,"770,880","-1,401,173",3.5,20,0.34

In [4]:
# quick analysis
df.describe()

,Rank,Population (2024),Yearly Change,Net Change,Fert. Rate,Med. Age
count,234.000000,2.340000e+02,234.000000,2.340000e+02,234.000000,234.000000
mean,117.500000,3.487407e+07,0.009424,3.002291e+05,2.332051,31.679487
std,67.694165,1.383471e+08,0.013671,1.064043e+06,1.163002,9.810427
min,1.000000,4.960000e+02,-0.050400,-3.263655e+06,0.700000,14.000000
25%,59.250000,4.782600e+05,0.000100,7.525000e+01,1.500000,23.000000
50%,117.500000,5.615064e+06,0.008600,1.878150e+04,2.000000,32.500000
75%,175.750000,2.346508e+07,0.018750,2.139155e+05,2.975000,40.000000
max,234.000000,1.450936e+09,0.050700,1.286620e+07,6.000000,59.000000

## Basic Population Insights

1. Find the country with the largest population in 2024.
2. Find the country with the smallest population in 2024.
3. Rank the top 10 most populated countries.
4. Rank the bottom 10 least populated countries.
5. Calculate the average population across all countries.
6. Check the total world population (sum of all countries).
7. Identify the median population (middle country when sorted).

In [5]:
# quick look into data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               234 non-null    int64
 1   Country            234 non-null    object
 2   Population (2024)  234 non-null    int64
 3   Yearly Change      234 non-null    float64
 4   Net Change         234 non-null    int64
 5   Density (P/Km²)    234 non-null    object
 6   Land Area (Km²)    234 non-null    object
 7   Migrants (net)     234 non-null    object
 8   Fert. Rate         234 non-null    float64
 9   Med. Age           234 non-null    int64
 10  Urban Pop %        234 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 20.2+ KB

In [6]:
# 1. Find the country with the largest population in 2024.
df.loc[df['Population (2024)'].idxmax()]

Rank                          1
Country                   India
Population (2024)    1450935791
Yearly Change            0.0089
Net Change             12866195
Density (P/Km²)             488
Land Area (Km²)       2,973,190
Migrants (net)         -630,830
Fert. Rate                  2.0
Med. Age                     28
Urban Pop %                0.37
Name: 0, dtype: object

In [7]:
# 2.Find the country with the smallest population in 2024.
df.loc[df['Population (2024)'].idxmin()]

Rank                      234
Country              Holy See
Population (2024)         496
Yearly Change             0.0
Net Change                  0
Density (P/Km²)         1,240
Land Area (Km²)             0
Migrants (net)             18
Fert. Rate                1.0
Med. Age                   59
Urban Pop %              N.A.
Name: 233, dtype: object

In [8]:
# 3. Rank the top 10 most populated countries
df.nlargest(10,'Population (2024)')[['Country','Population (2024)']]

         Country  Population (2024)
0          India         1450935791
1          China         1419321278
2  United States          345426571
3      Indonesia          283487931
4       Pakistan          251269164
5        Nigeria          232679478
6         Brazil          211998573
7     Bangladesh          173562364
8         Russia          144820423
9       Ethiopia          132059767

In [9]:
# 4. Rank the bottom 10 least populated countries.
df.nsmallest(10,'Population (2024)')[['Country','Population (2024)']]

                     Country  Population (2024)
233                 Holy See                496
232                     Niue               1819
231                  Tokelau               2506
230         Falkland Islands               3470
229               Montserrat               4389
228             Saint Helena               5237
227  Saint Pierre & Miquelon               5628
226                   Tuvalu               9646
225         Saint Barthelemy              11258
224          Wallis & Futuna              11277

In [10]:
# 5. Calculate the average population across all countries.
aveg = df['Population (2024)'].mean()
print('The average population across all countries is',aveg)

The average population across all countries is 34874074.45726496

In [11]:
# 6. Check the total world population (sum of all countries)
world_pop = df['Population (2024)'].sum()
print('The total world population is',world_pop)

The total world population is 8160533423

In [12]:
# convert figure into billions
world_pop = world_pop/1000000000
print('The total world population is',world_pop,'billions')

The total world population is 8.160533423 billions

In [13]:
# 7.Identify the median population (middle country when sorted).
median = df['Population (2024)'].median()
print('The median population is',median)

The median population is 5615063.5

## 2. Yearly Change & Growth
8. Find the country with the highest yearly growth (%).
9. Find the country with the lowest yearly growth (%) (could even be negative).
10. Compare absolute net change in population across countries.
11. Identify countries with population decline.
12. Check if large populations always have higher net change.
13. Calculate the average yearly growth (%) across all countries.

In [14]:
# 8. Find the country with the highest yearly growth (%)
df.loc[df['Yearly Change'].idxmax()]

Rank                        65
Country                   Chad
Population (2024)     20299123
Yearly Change           0.0507
Net Change              980059
Density (P/Km²)             16
Land Area (Km²)      1,259,200
Migrants (net)         204,040
Fert. Rate                 6.0
Med. Age                    16
Urban Pop %               0.22
Name: 64, dtype: object

In [15]:
# 9. Find the country with the lowest yearly growth (%)
df.loc[df['Yearly Change'].idxmin()]

Rank                          220
Country              Saint Martin
Population (2024)           26129
Yearly Change             -0.0504
Net Change                  -1386
Density (P/Km²)               493
Land Area (Km²)                53
Migrants (net)             -1,424
Fert. Rate                    2.7
Med. Age                       41
Urban Pop %                     0
Name: 219, dtype: object

In [16]:
# 10. Compare absolute net change in population across countries.
top1 = df.loc[df['Net Change'].idxmin()]

In [17]:
# 11. Identify countries with population decline.
df.loc[df['Net Change'].idxmin()]

Rank                          2
Country                   China
Population (2024)    1419321278
Yearly Change           -0.0023
Net Change             -3263655
Density (P/Km²)             151
Land Area (Km²)       9,388,211
Migrants (net)         -318,992
Fert. Rate                  1.0
Med. Age                     40
Urban Pop %                0.66
Name: 1, dtype: object

In [18]:
# 12. Calculate the average yearly growth (%) across all countries.
aveg = df['Yearly Change'].mean()
print('The average yearly growth (%) across all countries is',aveg)

The average yearly growth (%) across all countries is 0.009423931623931623

Density & Land Area

Find the country with the highest population density (P/km²).

Find the country with the lowest population density.

Compare countries with large land areas but low density (e.g., Canada, Russia).

Compare countries with small land areas but high density (e.g., Singapore, Bangladesh).

In [19]:
# Find the country with the highest population density (P/km²).
df.loc[df['Density (P/Km²)'].idxmax()]

Rank                       26
Country                 Kenya
Population (2024)    56432944
Yearly Change          0.0198
Net Change            1093941
Density (P/Km²)            99
Land Area (Km²)       569,140
Migrants (net)        -19,781
Fert. Rate                3.2
Med. Age                   20
Urban Pop %              0.31
Name: 25, dtype: object

In [20]:
# Find the country with the lowest population density.
df.loc[df['Density (P/Km²)'].idxmin()]

Rank                       206
Country              Greenland
Population (2024)        55840
Yearly Change          -0.0015
Net Change                 -82
Density (P/Km²)              0
Land Area (Km²)        410,450
Migrants (net)            -284
Fert. Rate                 1.9
Med. Age                    35
Urban Pop %                0.9
Name: 205, dtype: object

In [21]:
# Compare countries with large land areas but low density (e.g., Canada, Russia).
df.loc[df['Land Area (Km²)'].idxmax()]

Rank                        13
Country                  Egypt
Population (2024)    116538258
Yearly Change           0.0175
Net Change             2002486
Density (P/Km²)            117
Land Area (Km²)        995,450
Migrants (net)         123,884
Fert. Rate                 2.7
Med. Age                    24
Urban Pop %               0.41
Name: 12, dtype: object

In [25]:
# Compare countries with small land areas but high density (e.g., Singapore, Bangladesh).
df.loc[df['Land Area (Km²)'].idxmin()]

Rank                      234
Country              Holy See
Population (2024)         496
Yearly Change             0.0
Net Change                  0
Density (P/Km²)         1,240
Land Area (Km²)             0
Migrants (net)             18
Fert. Rate                1.0
Med. Age                   59
Urban Pop %              N.A.
Name: 233, dtype: object

5. Fertility & Age Structure
Find the country with the highest fertility rate.

Find the country with the lowest fertility rate.

Compare fertility rates of developed vs. developing countries.

Find the country with the youngest median age.

Find the country with the oldest median age.

Check if fertility rate is linked with population growth.

In [26]:
# Find the country with the highest fertility rate.
df.loc[df['Fert. Rate'].idxmax()]

Rank                        15
Country               DR Congo
Population (2024)    109276265
Yearly Change            0.033
Net Change             3486534
Density (P/Km²)             48
Land Area (Km²)      2,267,050
Migrants (net)         -26,968
Fert. Rate                 6.0
Med. Age                    16
Urban Pop %               0.44
Name: 14, dtype: object

In [28]:
# Find the country with the lowest fertility rate.
df.loc[df['Fert. Rate'].idxmin()]

Rank                          29
Country              South Korea
Population (2024)       51717590
Yearly Change            -0.0006
Net Change                -31149
Density (P/Km²)              532
Land Area (Km²)           97,230
Migrants (net)            75,963
Fert. Rate                   0.7
Med. Age                      45
Urban Pop %                 0.82
Name: 28, dtype: object